streamlit
llama-index
llama-index-core
llama-index-llms-google-genai
llama-index-readers-file
google-genai
sentence-transformers
llama-index-embeddings-huggingface
langfuse
langchain-core
openinference-instrumentation-llama-index 
llama-index-llms-openai 


